<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExcelAnalyzer.Properties.Settings>
            <setting name="WorksheetLabelWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="WorksheetColumn01Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WorksheetColumn02Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WorksheetColumn03Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WorksheetColumn04Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WorksheetColumn05Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WorksheetDescriptionWidth" serializeAs="String">
                <value>160</value>
            </setting>
        </ExcelAnalyzer.Properties.Settings>
    </userSettings>
</configuration>